<!doctype html>
<html lang="de">
    <head>
        <%- include("./includes/defhead.ejs") %>
        <title>Routenplaner</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./css/default.css">
    </head>
    <body>
        <%- include('./includes/header.ejs') %>
        <%- include('./includes/nav.ejs') %>
        <h3>My Google Maps Demo</h3>
        <!--The div element for the map -->
        <div id="map"></div>
        <!-- Replace the value of the key parameter with your own API key. -->
        <% if(key) { %>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key="<%=key%>"&callback=initMap">
        </script>
        <% } %>
        <%- include('./includes/footer.ejs') %>
    </body>
</html>